html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    overflow: hidden;
    border-radius: 15px;
    margin: 3px;
    height: 70px;
    font-size: 25px;
}

.buttons a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin-left: 10px;
}

.buttons a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px;
}

nav img {
    margin-right: 10px;
    height: 50px;
}

.posts {
    padding: 20px;
}

.posts > div {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data > img {
    height: 25px;
}

div + img {
    max-width: 60%;
    margin: auto;
}

div ~ p {
    font-size: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin: auto 3px 3px 3px;
    border-radius: 15px;
    padding: 25px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C0C0C0;
    border-radius: 10px;
    padding-top: 5px;
    padding: 2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
}

#text p{
    text-align: center;
    margin: 5px;
}


#text > h2 {
    margin-top: 5px;
}

h2 + p {
    color:cornflowerblue;
}

form ~ p {
    color: cornflowerblue;
}

form input {
    display: inline;
}